body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #051C2B;
}

.logo{
  width: 200px;
  margin-top: 8px;
  margin-left: 100px;
  margin-bottom: 15px;
}

.eten-tekst{
  color: white;
  font-family: d-din;
  font-size: 18px;
  margin-left: 36%;
  margin-top: 10%;
  margin-bottom: 8%
}

.water-tekst{
  color: white;
  font-family: d-din;
  font-size: 18px;
  margin-left: 36%;
  margin-top: 10%;
  margin-bottom: 8%
}

.brandstof-tekst{
  color: white;
  font-family: d-din;
  font-size: 18px;
  margin-left: 39%;
  margin-top: 10%;
  margin-bottom: 5%
}

.Afstand-tekst{
    color: white;
    font-family: d-din;
    font-size: 18px;
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 5%

}

.Atmosfeer-tekst{
  color: white;
  font-family: d-din;
  font-size: 18px;
  margin-left: 35%;
  margin-top: 10%;
  margin-bottom: 5%


}
.percentage{
  color: white;
  font-family: d-din;
  margin-left: 46%;
  margin-top: -26%;
  margin-bottom: 25%;

}


.pro-bar-brandstof{
  margin-top: 8%;
  margin-bottom: -1%;
}

.pro-bar-snelheid{
  margin-bottom: 10%;
  }

}

@media only screen and (min-width:376px ) and (max-width: 768px){

body{
  background-color: green;
}



    .div-container{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 'navbar navbar'
                             'pie-chart-eten pie-chart-water'
                             'pro-bar-brandstof pro-bar-snelheid'
                             'grafiek-afstand-tijd grafiek-afstand-tijd'
                             'map-afstand map-afstand';
            }

            /* .pie-chart-water{
              margin-top:;
              margin-bottom:
            }

            .water-tekst{
              margin-top: ;
            }


            .brandstof-tekst{
              margin-top:
            }

            .pro-bar-snelheid{
              margin-top:
              margin-bottom:
            } */


    }

    @media only screen and (min-width:770px) and (max-width: 1279px){
        .div-container{
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-areas: 'navbar navbar navbar'
                                 'pie-chart-eten pie-chart-water pro-bar-brandstof'
                                 'pro-bar-snelheid grafiek-afstand-tijd grafiek-afstand-tijd'
                                 'map-afstand map-afstand map-afstand'
                }

                .pie-chart-water{
                  margin-top: 10%;
                  margin-bottom: 10%;
                }

                /* .water-tekst{
                  margin-top: ;
                } */


                .brandstof-tekst{
                  margin-top: -20%
                }

                .pro-bar-snelheid{
                  margin-top: 20%;
                  margin-bottom: -10%
                }


        }

        @media only screen and (min-width:1280px){
            .div-container{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    grid-template-areas: 'navbar navbar navbar navbar'
                                     'pie-chart-eten pie-chart-water pro-bar-brandstof pro-bar-snelheid'
                                     'grafiek-afstand-tijd grafiek-afstand-tijd grafiek-afstand-tijd grafiek-afstand-tijd'
                                     'map-afstand map-afstand map-afstand map-afstand'
                    }

                    .pie-chart-water{
                      margin-top: 10%;
                      margin-bottom: 10%;
                    }

                    /* .water-tekst{
                      margin-top: ;
                    } */


                    .brandstof-tekst{
                      margin-top: -20%
                    }

                    .pro-bar-snelheid{
                      margin-top: 20%;
                      margin-bottom: -10%
                    }


            }
