.div-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'navbar'
                         'pie-chart-eten'
                         'pie-chart-water'
                         'pro-bar-brandstof'
                         'pro-bar-snelheid'
                         'grafiek-afstand-tijd'
                         'map-afstand';
}

.navbar{
    background-color: #051C2B;
    grid-area: navbar;
}

.pie-chart-eten{
  background-color: #051C2B;
    grid-area: pie-chart-eten;
}

.pie-chart-water{
    background-color: #051C2B;
    grid-area: pie-chart-water;
}

.pro-bar-brandstof{
    background-color: #051C2B;
    grid-area: pro-bar-brandstof;
}

.pro-bar-snelheid{
  background-color: #051C2B;
    grid-area: pro-bar-snelheid;
}

.grafiek-afstand-tijd{
    background-color: #051C2B;
    grid-area: grafiek-afstand-tijd;
}

.map-afstand{
  background-color: #051C2B;
  grid-area: map-afstand

}
