body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
  width: 200px;
  margin-top: 8px;
  margin-left: 100px;
  margin-bottom: 15px;
}

.eten-tekst{
  color: white;
  font-family: d-din;
  margin-left: 127px;
  margin-top: 20px;
}
