.div-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'navbar'
                         'piechart-eten'
                         'piechart-water'
                         'pro-bar-brandstof'
                         'pro-bar-snelheid'
                         'grafiek-afstand-tijd'
                         'map-afstand';
}

.navbar{
    background-color: #7BC31A;
    grid-area: navbar;
}

.piechart-eten{
  background-color: green
    grid-area: piechart-eten;
}

.piechart-water{
    background-color: purple ;
    grid-area: piechart-water;
}

.pro-bar-brandstof{
    background-color: blue ;
    grid-area: pro-bar-brandstof;
}

.pro-bar-snelheid{
  background-color: yellow;
    grid-area: pro-bar-snelheid;
}

.grafiek-afstand-tijd{
    background-color: white;
    grid-area: grafiek-afstand-tijd;
}

.map-afstand{
  background-color: orange;
  grid-area: map-afstand

}
